*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#post_btn{
    padding: 9px 25px;
    background-color: #3d8eda80;
    border: none;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 24px;
    cursor: pointer;
}
#post_btn:hover{
    background-color: #73a8da80;
}