@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --mainColor: #D1D9FF;
    --secondColor: #e3e7ff;
}


html,
body {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.mainSection {
    padding: clamp(1.5625rem, 0.8929rem + 2.381vw, 3.75rem);
}

.MainLeft {
    max-width: clamp(12.5rem, 8.176rem + 15.3741vw, 26.625rem);
}

.profileImageDiv {
    background-color: rgb(255, 23, 23);
    border-radius: 27px;
}

.playBtn {
    position: absolute;
    animation: pulse 1s infinite;
    left: 10%;
    bottom: 5%;
}

@keyframes pulse {

    0%,
    100% {
        transform: translate(-50%, -50%) scale(1);
    }

    50% {
        transform: translate(-50%, -50%) scale(1.2);
    }
}

.profileImage {
    max-width: 100%;
    height: clamp(13.75rem, 9.1582rem + 16.3265vw, 28.75rem);
    border-radius: 27px;
    object-fit: cover;
    transition: all .3s ease;
    cursor: pointer;
    object-position: top;
}

.profileImage:hover {
    opacity: .3;
}

.textDiv {
    width: 100%;
    border-radius: 9px;
    padding: 15px;
    margin-top: 10px;
    border-left: 3px solid var(--mainColor);
    border-right: 3px solid var(--mainColor);
}

.name {
    /* 60-25 */
    font-size: clamp(1.5625rem, 0.8929rem + 2.381vw, 3.75rem);
    font-weight: 700;
    color: #000;
    line-height: 1;
    text-transform: uppercase;
    width: 100%;
    display: flex;
}

.o {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 27px;
    border: 8px solid #000;
    background: transparent;
    margin-top: 12px;
    margin-bottom: 5px;
}

.bio {
    /* 18-11 */
    font-size: clamp(0.6875rem, 0.5536rem + 0.4762vw, 1.125rem);
    color: #333;
    font-weight: 500;
    text-transform: uppercase;
}

.smallBio {
    /* 12-7 */
    font-size: clamp(0.4375rem, 0.3418rem + 0.3401vw, 0.75rem);
    line-height: 1;
    color: #333;
    padding-top: 5px;
}

.MainButtonSection {
    display: flex;
    gap: 5px;
    padding-top: 15px;
}

.leftButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.button {
    font-size: clamp(0.5625rem, 0.4477rem + 0.4082vw, 0.9375rem);
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--mainColor);
    width: 100%;
    text-align: center;
    padding-top: clamp(0.4375rem, 0.2462rem + 0.6803vw, 1.0625rem);
    padding-bottom: clamp(0.4375rem, 0.2462rem + 0.6803vw, 1.0625rem);
    border-radius: 9px;
    transition: all .5s ease;

}

.button:hover {
    background-color: #000;
    color: var(--mainColor);
}

.bigButton {
    padding-top: clamp(1.125rem, 0.7423rem + 1.3605vw, 2.375rem);
    padding-bottom: clamp(1.125rem, 0.7423rem + 1.3605vw, 2.375rem);
}

.button:hover {
    transform: scale(1.05);
    transition: all .1s ease;
}

/* Left Section End ==================================== */

.mainSection {
    display: flex;
    gap: 35px;
}

@media(max-width: 1050px) {
    .mainSection {
        display: flex;
        flex-direction: column-reverse;
        gap: 35px;
        align-items: center;
    }

    .MainLeft {
        max-width: 100%;
    }

    .o {
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border-radius: 27px;
        border: 3px solid #000;
        background: transparent;
        margin-top: 10px;
        margin-bottom: 5px;
    }

}



/* Right Section Start ---------------------------------- */
.mainRightSide {
    width: 100%;
}

.focalDiv {
    width: 100%;
    height: clamp(13.75rem, 9.1582rem + 16.3265vw, 28.75rem);
    background-color: var(--mainColor);
    transition: all .2s ease;
    border-radius: clamp(0.625rem, 0.2997rem + 1.1565vw, 1.6875rem);
}

/* Happy Clients  */

.happyClientsMainDiv {
    padding-top: 20px;
}

/* Recent Project  */
.recentProjectsMainDiv {
    padding-top: 15px;

}

.recentProjectsDiv {
    display: flex;
    gap: 14px;
    padding-top: 7px;
}

.recentProject {
    background-color: var(--mainColor);
    border-radius: clamp(0.4375rem, 0.2844rem + 0.5442vw, 0.9375rem);
    width: 33%;
    /* 120-90 */
    height: clamp(5.625rem, 3.3621rem + 3.4483vw, 7.5rem);

}

.recentProjectGif {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: clamp(0.4375rem, 0.2844rem + 0.5442vw, 0.9375rem);
}

.recentProjectGif:hover {
    transform: scale(1.05);
    transition: all .2s ease;
}

@media(max-width: 700px) {
    .happyClientsVideoDiv {
        display: flex;
        /* flex-direction: column; */
        gap: 7px;
        transition: all .2s ease;
    }


    .recentProjectsDiv {
        /* flex-direction: column; */
        gap: 7px;
        transition: all .2s ease;
    }

}


/* Animation in Background  */
.animated-background {
    background-size: 400%;

    -webkit-animation: animation 30s ease infinite;
    -moz-animation: animation 30s ease infinite;
    animation: animation 30s ease infinite;
}

@keyframes animation {

    0%,
    100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}